@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: white;
    font-family: "Urbanist", sans-serif;
    background-color: var(--cor--fundo);
}

:root {
    --cor--fundo: #9978A7;
    --cor--hover: #C4B1CC;
    --cor--primaria: #9978A7;
    --cor--hover2: #AA8FB6;
    --cor--bgwhite: #E1E1E1;
    --cor--escura: #6B5475;
 }

 .back-button {
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
 }
 
 .back{
    color: white;
 }

  /*passo*/
  
  .passo{
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .passo span{
    font-size: 1.1em;
  }
  .carrossel{
    padding-right: 25px;
    display: flex;
    width: 4em;
    justify-content: space-between;
  }
  .container-grande{
    background-color: #ffffff;
    width: 2em;
    height: .5em;
    border-radius: 20px;
  }
  .container-pequeno{
    background-color: #ffffff;
    height: .5em;
    width: .5em;
    border-radius: 20px;
  }


 .titulos {
    height: 100px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 40px;
    margin-bottom: 20px;
    height: 45px;    
 }

 .titulos h2 {
    font-size: 1.6rem;
    max-width: 100%;
 }

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

  form p{
    font-size: 1.4rem;
  }

  .custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}



/* Estilo do botão */
.select-selected {
    background-color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
    text-align: left;
    width: 70vw;
    height: 45px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);

}

.dados {
 margin-bottom: 3rem;
 }

/* Estilo da lista de opções */
.select-items {
    background-color:white;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 10px ;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #ddd;
    border-top: none;
    display: none;
}
  .input-container label{
    display: flex;
    margin-left: 10px;
    margin-bottom: 0.9rem;
  }
  .input-container label:nth-child(1){
    padding-top: 20px;
  }
  .input-container input {
    border-radius: 30px;
    width: 70vw;
    height: 45px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
}

  
  .texto-t3{
    font-weight:600;
    display: flex;
    flex-direction: column;
  }
  .texto-t3 span{
    width: 50vw ;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .input-wrap{
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    width: 90vw;
  }

  #nome{
    width: 90vw;
    margin-bottom: 12px;
  }
    #nasc,#genero,#cidade,#tel,#cid{
    width: 40vw;
  }
  #nasc, #genero, #cidade, #tel, #cid {
    padding-top: 5px; /* Reduz o preenchimento superior para 5 pixels */
  }
  #uf{
    width: 30vw;
  }
  .input-wrap .input-container label:nth-child(1){
    padding-top: 5px;
  }
  .botao-continuar{
    margin-left: auto;
    margin-right: 1rem;
    margin-top: -2rem;
    padding: 12px .7em 0 0;
    margin-bottom: 100px;
  }
  .cont{
    border-radius: 22px;
    border: none;
    background-color: white;
    font-family: shadows into light two;
    font-size: 1.3rem;
    width: 7rem;
    height: 2rem;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
  }

  .icone-centralizado {
 margin-bottom: -1.5rem;
  }

  .icone-centralizado img{
    width: 167px;
    height: 167px;
  }

  .logo-horizontal{
    font-family: shadows into light two;
    width: auto;
    height: auto;
  }

