@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: "Urbanist", sans-serif;
    background-color: var(--cor--bg);
    overflow-x: hidden
}

:root {
    --cor--fundo: #9978A7;
    --cor--hover: #C4B1CC;
    --cor--bg:#F5F2F6;
    --cor--hover2: #AA8FB6;
    --cor--bgwhite: #E1E1E1;
    --cor--escura: #6B5475;
 }

 h1{
 
  font-family: shadows into light two;
  color: var(--cor--escura);
  margin-top: 6rem;
  font-size: 2.4rem;
}

 p{
  font-family: shadows into light two;
  color: var(--cor--escura);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: -20px;
 }

/*Modificação 16/04*/
.menu{
  display: flex;
  align-items: center;
  height: auto;
  justify-content: space-between;
  width: 25vw;
  }
  /*Modificação fim*/
 .container4 .container-icone{
  width: 3em;
  height: 3em;
  background-image: url(/assets/icones/avatar.svg);
  border-radius: 100px;
  margin-left: 16px;
  }
  .container4 .header4{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0 0;
  }

 .container4{
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 120vh;
  }

  .container4 .informacoes{
    display: flex;
  }

  .notf{
    color: #5D4966;
    margin-left: -13rem;
    font-size: 1.4rem;
     }
   
     .logo{
     color: var(--cor--fundo);
     margin-right: 16px;
     }

  .container4 .header4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -1rem; 
    width: 100%; 
    height: 64px;
    background-color: #e8e1eb; /* Define uma cor de fundo com transparência */
    backdrop-filter: blur(10px); /* Aplica um efeito de desfoque ao fundo */
    z-index: 1000; /* Define a ordem de empilhamento para garantir que o cabeçalho fique acima de outros elementos */
  }
  .container4 h2{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 600;
  }

  input{
    font-size: 16px;
  }

  textarea{
    font-size: 16px;
  }

  .form{
    color:#5D4966;
  }

  .seu-nome{
    margin-bottom: 20px;
  }


  .nome{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
    font-family: urbanist;
    background-color: #fafafa31;

  }

  textarea{
    width: 20rem;
    height: 20rem;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
    font-family: urbanist;
    background-color: #fafafa31;
    }
    .enviar{
        border-radius: 20px;
        margin-top: 10px;
        border: none;
        width: 80px;
        height: 28px;
        color: var(--cor--escura);
        font-size: rem;
        font-family: urbanist;
        background-color: white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.204);
    }
/*Navegação*/
.bottom-navbar {
  z-index: 1000;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0 ;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--cor--fundo) 
}
 
 
 .bottom-navbar a:hover {
    color:var(--cor--hover);
 }
 
 
 .bottom-navbar a {
  display: flex;
 flex-direction: column;
   align-items: center;
 text-align: center;
  text-decoration: none;
   color: #fff;
   font-size: 18px;
     }
