@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: "Urbanist", sans-serif;
    background-color:var(--cor--bg);
    overflow-x: hidden;
    height: 950px;
    
}

:root {
    --cor--fundo: #9978A7;
    --cor--hover: #C4B1CC;
    --cor--bg:#F5F2F6;
    --cor--hover2: #AA8FB6;
    --cor--bgwhite: #E1E1E1;
    --cor--escura: #6B5475;
 }

 h1{
 
  font-family: shadows into light two;
  color: var(--cor--escura);
  margin-top: 6rem;
  font-size: 2.4rem;
}

 h2{
    color:var(--cor--fundo);
 }

 p{
  font-family: shadows into light two;
  color: var(--cor--escura);
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: -20px;
 }


 .container4 .container-icone{
  width: 3em;
  height: 3em;
  background-image: url(/assets/icones/avatar.svg);
  border-radius: 100px;
  margin-left: 16px;
  }
  .container4 .header4{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0 0;
  }

 .container4{
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: auto;
  }

  .container4 .informacoes{
    display: flex;
  }
/*Modificação 16/04*/
.menu{
  display: flex;
  align-items: center;
  height: auto;
  justify-content: space-between;
  width: 25vw;
  }
  /*Modificação fim*/
  .notf{
    color: #5D4966;
    margin-left: -13rem;
    font-size: 1.4rem;
     }
   
     .logo{
     color: var(--cor--fundo);
     margin-right: 16px;
     }

  .container4 .header4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -1rem; 
    width: 100%; 
    height: 64px;
    background-color: #e8e1eb; /* Define uma cor de fundo com transparência */
    backdrop-filter: blur(10px); /* Aplica um efeito de desfoque ao fundo */
    z-index: 1000; /* Define a ordem de empilhamento para garantir que o cabeçalho fique acima de outros elementos */
  }
  .container4 h2{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 600;
  }

  .emocoes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: scroll;
    font-size: 3.8rem;
    width: 400px;
    height: 100px;
  }
  .emocoes::-webkit-scrollbar{
    display: none;
  }

  .anim{
    width: auto;
    height: auto;
    margin-right: 8px;
    margin-left: 1.6rem;
    color: #98ce96;
  }
  .fel,.tris,.irrt,.norm{
    width: auto;
    height: auto;
    margin-right: 8px;
    margin-left: 2px;
  }

  .fel{
    color:#ddc749;
  }
  .tris{
    color:#91a2ee;
  }
  .irrt{
    color:#d87c57;
  }
  .norm{
    color:#cc9dba;
  }

  .anim:hover{
    transform: scale(1.2);
    transition: 1s;
  }

  .fel:hover{
    transform: scale(1.2);
    transition: 1s;
  }

  .tris:hover{
    transform: scale(1.2);
    transition: 1s;
  }

  .irrt:hover{
    transform: scale(1.2);
    transition: 1s;
  }

  .norm:hover{
    transform: scale(1.2);
    transition: 1s;
  }
/*
  h3{
    font-size: 10px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 80px;
    margin-left: -60px;
  }

  span{
    font-size: 14px;
    font-weight: 600;
    color: #98ce96;
    text-align: center;
    margin-top: 70px;
    margin-left: -66px;
  }

  .nome-fel{
    font-size: 14px;
    font-weight: 600;
    color: #98ce96;
    text-align: center;
    margin-top: 86px;
    margin-left: -52px;
  }*/


  input{
    font-size: 16px;
  }

  textarea{
    font-size: 16px;
  }
 
 

  .resposta-diaria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 0.6em;
  
  }
  
  textarea{
    width: 20rem;
    height: 20rem;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
    font-family: urbanist;
    background-color: #dbd7dd31;
    }
 
  .resposta-diaria label{
    margin-right: auto;
    padding: 0 0 1em 1.5em;
    font-weight: 700;
    font-size: 1.1em;
    color: #5D4966;
  }


  /*Microfone*/
  .button-mic {
    margin-top: 12px;
    margin-left: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    height: 40px;
    width: 48px;
    border:none;
    background: #d6d6d6de;
    border-radius: 20px;
    cursor: pointer;
    color: #5D4966;
    font-size: 1.4rem;
    
  }
  
  
  .button-mic:hover {
    background: #e2d8e6;
    border-color: #5D4966;
    color: #AA8FB6;
  }
  .botao .svg-icon {
    animation: scale 1.5s linear infinite;
  }

  h3{
    margin-top: -30px;
    margin-left: -60px;
    font-family: shadows into light two;
    font-weight: 550;
    color: var(--cor--escura);
  }
  

  

/*Navegação*/
.bottom-navbar {
  z-index: 1000;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0 ;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--cor--fundo) 
}
 
 
 .bottom-navbar a:hover {
    color:var(--cor--hover);
 }
 
 
 .bottom-navbar a {
  display: flex;
 flex-direction: column;
   align-items: center;
 text-align: center;
  text-decoration: none;
   color: #fff;
   font-size: 18px;
     }
