@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: white;
    font-family: "Urbanist", sans-serif;
    background-color: var(--cor--bg);
    overflow-x: hidden
}

:root {
    --cor--fundo: #9978A7;
    --cor--hover: #C4B1CC;
    --cor--bg:#F5F2F6;
    --cor--hover2: #AA8FB6;
    --cor--bgwhite: #E1E1E1;
    --cor--escura: #5D4966;
 }

/*iframes*/
iframe{
    border-radius: 15px;
    text-decoration: n;
   }
  

 .container5{
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
  }
  .container5 .texto5 span{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 600;
    font-size: 1.2rem;
  
  }
  .container5 .informacoes{
    display: flex;
  }
  .container5 .container-icone{
    width: 3em;
    height: 3em;
    background-image: url(/assets/icones/avatar.svg);
    border-radius: 100px;
    margin-left: 16px;
    margin-top: 5px;
  }

  .notf{
 color: #5D4966;
 margin-left: -13rem;
 font-size: 1.4rem;
  }

  .logo{
  color: var(--cor--fundo);
  margin-right: 16px;
  }
  .container5 .header5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    width: 100%; 
    height: 64px;
    background-color: #e8e1eb; /* Define uma cor de fundo com transparência */
    backdrop-filter: blur(10px); /* Aplica um efeito de desfoque ao fundo */
    z-index: 1000; /* Define a ordem de empilhamento para garantir que o cabeçalho fique acima de outros elementos */
}
    
  .container5 .texto5{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 90vw;
  }
  .wrap-lista{
    display: grid;
    padding: 1em 0 0 0vw;
    flex-wrap: wrap;
    gap: 1em;
    width: 90vw;
    overflow-x: scroll;
    margin-top: -2re;
  }

  .wrap-podcast p {
    position: absolute; /* Adiciona posicionamento absoluto */
    bottom: 10px; 
    left: 10px; 
    color: white; 
    font-size: 14px; 
}

  .wrap-lista::-webkit-scrollbar{
    display: none;
  }
  .wrap-humor1, .wrap-humor2, .wrap-humor3, .wrap-humor4, .wrap-humor5{
    width: 16vw;
    height: 16vw;
    border-color: var(--cor--escura);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row:1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .hum{
    color: var(--cor--fundo);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }


h3{
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: -32px;
  }
 
  .wrap-video{
    height: 95px;
    border-radius: 20px;
    grid-row:1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
    margin-left: 1px;
    margin-bottom: 10px;

  }

.wrap-lista img{ 
    width: 152px;
    height: 152px;
    border-radius: 15px;
    opacity: 70%;
   }
 
  .wrap-podcast{
    height: 152px;
    border-radius: 20px;
    grid-row:1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
    background-color: #000;
    position: relative; /* Adiciona posicionamento relativo */
    margin-bottom: 20px;
    margin-left: 2px;
  }
  .texto-caixas{
    width: 90vw;
    margin-top: 2em;
  }
 
  .container5 .header5 span{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 600;
    font-size: 1.4em;
  }


  a{
text-decoration: none;
  }

  
  p{
    color: white;
    margin-top: -6px;
    margin-left: 10px;
  }

  .wrap-sbm{
    display: grid;
    padding: 1em 0 0 0vw;
    flex-wrap: wrap;
    gap: 1em;
    height: auto;
    margin-bottom: 2em; /* Espaçamento abaixo adicionado */
  }

  .wrap-saiba-mais{
    width: 22rem;
    height: 14rem;
   background-image: url(/assets/img/noticia.svg);
    border-radius: 0 20px 0 20px;
    margin-bottom: 5em;
    grid-row:1;
    background-image: op;
    background-color: #000;
  }

/*Navegação*/
.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0 ;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--cor--fundo) 
}
 
 
 .bottom-navbar a:hover {
    color:var(--cor--hover);
 }
 
 
 .bottom-navbar a {
  display: flex;
 flex-direction: column;
   align-items: center;
 text-align: center;
  text-decoration: none;
   color: #fff;
   font-size: 18px;
     }
 
    
   