@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: white;
    font-family: "Urbanist", sans-serif;
    background-color: var(--cor--fundo);
    justify-content: center; /* Centralizar no eixo horizontal */
    align-items: center; /* Centralizar no eixo vertical */
    height: 100vh; /* Faz com que o body ocupe 100% da altura da tela */
}

:root {
    --cor--fundo: #9978A7;
    --cor--hover: #C4B1CC;
    --cor--primaria: #9978A7;
    --cor--hover2: #AA8FB6;
    --cor--bgwhite: #E1E1E1;
    --cor--escura: #5D4966;
 }

 .container {
  text-align: center; /* Centralizar o conteúdo dentro do container */
}

 .logo-img {
  width: auto;
  height: auto;
}

.logo {
  margin-bottom: 50px; /* Ajuste para centralizar */
  margin-top: 40px;
}

h1 {
  font-family: "Shadows Into Light Two", cursive; 
  font-size: 5rem;
  line-height: 5rem; 
  margin-bottom: -8rem; 
  margin-top: -66px;
}

  .login .texto{
    font-size: 0.8em;
  }

  h3{
    width: 70vw;
    text-align: center;
    font-weight: 500;
  }
  /*Botão*/

  .cad, .entrar{
    font-size: 1.2rem;
    margin-bottom: -2rem;
    margin-top: 2rem;
  }

  a{
    color: var(--cor--escura)

  }

  .buttons{
   align-items: center;
   margin-top: 140px;
   margin-left: 4rem;
   margin-right: 4rem;
   align-items: center;
  }

  .entrar, .cad{
    border-radius: 20px;
    border: none;
    width: 260px;
    height:38px;
    font-size: rem;
    font-weight: 600;
    font-family: urbanist;
    background-color: white;
    color: var(--cor--escura);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.204);
}


 .lista-login{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .login-container-lista{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  text-align: center;
  margin-top: 1rem;
  margin-left: 3.4rem;
  margin-bottom: -150px;
 }

