@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: "Urbanist", sans-serif;
    background-color:var(--cor--bg);
    overflow-x: hidden;
    height: 800px;
    
}

:root {
    --cor--fundo: #9978A7;
    --cor--hover: #C4B1CC;
    --cor--bg:#F5F2F6;
    --cor--hover2: #AA8FB6;
    --cor--bgwhite: #E1E1E1;
    --cor--escura: #6B5475;
 }

 h2{
    color:var(--cor--fundo);
 }

 p{
  font-family: shadows into light two;
  color: var(--cor--escura);
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: -20px;
 }




 .perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: -60px;
} 

.perfil img{
    width: auto;
    height: auto;
 }



 .infos {
    display: flex;
    justify-content: center;
}

 h1,h2{
    color:var(--cor--escura);
 }

 h1{
    text-align: center;
    margin-bottom: -5px;
    text-align: center;
    margin-bottom: -2px;
    font-size: 2rem;
    margin-top: 25px;
    font-family: shadows into light two;
  
  }

  h2{
    text-align: center;
    margin-bottom: -5px;
    text-align: center;
    margin-bottom: -2px;
    font-size: 2rem;
    margin-top: 25px;
    font-family: shadows into light two;
  
  }


 h3{
    display: flex;
    margin-left: 10px;
    text-align: center;
    display: flex;
    margin-left: 10px;
    text-align: center;
    font-size: 1.2rem;
    margin-top: -2px;
    font-weight: 400;
    color: #6B5475;
 }


 .profile-menu {
   list-style-type: none;
   padding: 0;
   
 }
 .profile-menu li {
   overflow: hidden;
   margin-bottom: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 .profile-menu li a {
   display: block;
   padding: 8px;
   color: var(--cor--escura);
   background-color: #e6e6e6;
   text-decoration: none;
   font-size: 18px;
 }
 .profile-menu li a:hover {
   background-color: var(--cor--hover);
 }


/*Navegação*/
.bottom-navbar {
   z-index: 1000;
     position: fixed;
     bottom: 0;
     width: 100%;
     display: flex;
     justify-content: space-around;
     padding: 25px 0 ;
     border-radius: 30px 30px 0px 0px;
     background-color: var(--cor--fundo) 
 }
  
  
  .bottom-navbar a:hover {
     color:var(--cor--hover);
  }
  
  
  .bottom-navbar a {
   display: flex;
  flex-direction: column;
    align-items: center;
  text-align: center;
   text-decoration: none;
    color: #fff;
    font-size: 18px;
      }
 